In [2]:
import pandas as pd

In [4]:


data = {
    'from': [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
    'n': [1, 1, 1, 1, 2, 1, 2, 1, 1, 1],
    'params': [464, 4672, 7360, 18560, 49664, 73984, 197632, 295424, 460288, 385323],
    'module': [
        'ultralytics.nn.modules.conv.Conv',
        'ultralytics.nn.modules.conv.Conv',
        'ultralytics.nn.modules.block.C2f',
        'ultralytics.nn.modules.conv.Conv',
        'ultralytics.nn.modules.block.C2f',
        'ultralytics.nn.modules.conv.Conv',
        'ultralytics.nn.modules.block.C2f',
        'ultralytics.nn.modules.conv.Conv',
        'ultralytics.nn.modules.block.C2f',
        'ultralytics.nn.modules.head.Classify'
    ],
    'arguments': [
        '[3, 16, 3, 2]',
        '[16, 32, 3, 2]',
        '[32, 32, 1, True]',
        '[32, 64, 3, 2]',
        '[64, 64, 2, True]',
        '[64, 128, 3, 2]',
        '[128, 128, 2, True]',
        '[128, 256, 3, 2]',
        '[256, 256, 1, True]',
        '[256, 43]'
    ]
}

df = pd.DataFrame(data)
display(df)

   from  n  params                                module            arguments
0    -1  1     464      ultralytics.nn.modules.conv.Conv        [3, 16, 3, 2]
1    -1  1    4672      ultralytics.nn.modules.conv.Conv       [16, 32, 3, 2]
2    -1  1    7360      ultralytics.nn.modules.block.C2f    [32, 32, 1, True]
3    -1  1   18560      ultralytics.nn.modules.conv.Conv       [32, 64, 3, 2]
4    -1  2   49664      ultralytics.nn.modules.block.C2f    [64, 64, 2, True]
5    -1  1   73984      ultralytics.nn.modules.conv.Conv      [64, 128, 3, 2]
6    -1  2  197632      ultralytics.nn.modules.block.C2f  [128, 128, 2, True]
7    -1  1  295424      ultralytics.nn.modules.conv.Conv     [128, 256, 3, 2]
8    -1  1  460288      ultralytics.nn.modules.block.C2f  [256, 256, 1, True]
9    -1  1  385323  ultralytics.nn.modules.head.Classify            [256, 43]